<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>

    <% if flash.any? %>
      <% flash.keys.each do |key, msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    <% end %>
    <%= yield %>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
