<h1><%= @student.name %></h1>

<h3>Clinics this student has attended:</h3>
<ul>
  <% @clinics.each do |clinic| %>
    <li>
      <a href="/clinics/<%= clinic.id %>"> <%= clinic.title %> </a>
    </li>
  <% end %>
</ul>
